<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- Data Source -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		
		<!-- JDBC 드라이버 클래스명 설정  -->
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		
		<!-- JDBC 접속 문자열 설정  -->
		<property name="url">
			<value>jdbc:mysql://localhost/spring?useUnicode=true&amp;characterEncoding=utf8&amp;characterSetResults=utf8
			</value>
		</property>
		
		<!-- MySQL 유저ID 설정 -->
		<property name="username">
			<value>root</value>
		</property>
		
		<!-- MySQL 패스워드 설정  -->
		<property name="password">
			<value>12345</value>
		</property>
		
	</bean>


	<!-- 추가 -->
	<!-- simpleJdbcTemplate 빈 등록  -->
    <bean id="simpleJdbcTemplate" class="org.springframework.jdbc.core.simple.SimpleJdbcTemplate">
       <constructor-arg>
          <ref bean="dataSource"/>
       </constructor-arg>
    </bean>
    
	<!-- userDao 빈 등록  -->
    <bean id="userDao" class="dao.UserDaoImpl">
		<property name="template"><!-- UserDaoImpl 변수 -->
			<ref bean="simpleJdbcTemplate"/>
		</property>
	</bean>
	
	<!-- userCatalog 빈 등록  -->
	<bean id="userCatalog" class="logic.UserCatalogImpl">
		<property name="userDao"><!--setter -->
			<ref bean="userDao"/>
		</property>
	</bean>

	<!-- shopService -->
	<bean id="shopService" class="logic.ShopImpl">
		<property name="userCatalog"><!-- setter -->
		   <ref bean="userCatalog"/>
		</property>
	</bean>      

	<!-- Validator입력 데이터 유효성 체크-->
	<!-- loginValidator 빈 등록  -->
	<bean id="loginValidator" class="utils.LoginValidator" />
	
	<!-- messageSource 빈 등록  -->
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>msg</value>
				<!-- msg.properties-->
			</list>
		</property>
	</bean>
</beans>

