<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

 <!-- PropertyPlaceholderConfigurer 클래스 사용하여 config.property파일을 사용한다  -->
 
 <bean id="propertyConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
   <property name="location" value="config.property"/><!-- setter작업 -->
 </bean>
 

 <!-- config 빈 등록  -->
 <bean id="config" class="com.spring.hello4.Config">
 
   <property name="driver"><!-- setter작업 -->
   		<value>${dd.driver}</value>
   </property>
   
   <property name="url">
   		<value>${dd.url}</value>
   </property>
   
   <property name="user">
   		<value>${dd.user}</value>
   </property>

   <property name="pwd">
   		<value>${dd.pwd}</value>
   </property>
   
 </bean>
</beans>