<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

 <import resource="hello.xml"/>
 
 <!-- 별칭 사용 -->
 <alias name="helloService" alias="hs"/>
 
 <!-- 빈등록 -->
 <bean id="helloBean" class="com.spring.hello.HelloServiceManager" factory-method="getInstance">
   <property name="name" value="박길동"></property>
 </bean>
</beans>